body {
    background-color: #b7b74a;
    margin: 0;
    
}

header {
    background-color: #a5a58d;
    margin: 0;
}

#navbar ul {
    text-align: center;
    margin: 0;
    padding: .5% 0;
    
    list-style: none;
}
#navbar li {
    padding: 1%;
    margin: 0 1%;
    display: inline-block;
    color: white;
}

main {
    contain: content;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #a5a58d;
    color: white;
    text-align: center;
    width: 100%;
    height: 48px;
    margin-top: -20px;
}
footer>p{
    padding-top: 1%;
}

#splash-img {
    width: 100%;
}