@import './gallery.css';
@import './mobileNav.css';
@import './timeline.css';
:root{
    --primary: #b7b7a4;
    --secondary: #676750;
}
@font-face {
    font-family: "Zekton"; /* Name your font */
    src: url("zekton.otf");
  }
  
  
  @font-face {
    font-family: "SpacePower"; /* Name your font */
    src: url("spacepower.ttf");
  }

body {
    background-color: var(--primary);
    margin: 0;
}

header {
    background-color: var(--secondary);
    margin: 0;
}
h1 {
	font-size:40px;
    font-family: SpacePower;
}
a{
    text-decoration: none;
    color: white;
}
.splash-title{
    z-index: -1;
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 4vw;
    top: 10%;
    left: 10%;
    color: black;
}

#navbar ul {
    text-align: center;
    margin: 0;
    padding: .5% 0;
    list-style: none;
}
#navbar li {
    padding: 1%;
    margin: 0 1%;
    display: inline-block;
    color: white;
    font-family: Zekton;
}

main {
    contain: content;
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--secondary);
    color: white;
    text-align: center;
    width: 100%;
    height: 48px;
    margin-top: -20px;
    font-family: Zekton;
}
footer>p{
    padding-top: 1%;
}
p{
font-family: Zekton;
}

#splash-img {
    z-index: -1;
    width: 100%;
    position: absolute;
    align-self: center;
    animation: fadeInOut 9s infinite;
    /* animation-delay: 15s; */
}
#splash-img:nth-child(2){
animation-delay: 6s;
}
#splash-img:nth-child(3){
    animation-delay: 3s;
    }
#splash>section{
    display: grid;
    height: 100vh;
}

.hide{
    display: none !important;
}
.show {
    display: initial;
}

.container {
    margin: auto 10%;
}

#ip1, #ip2, #ip3, #ip4, #ip5 {
font-family: Zekton;
}

.info-view p, .info-picker {
    width: 45%;
    display: inline-block;
    align-content: center;
}
.info-picker>li{
    background-color: black;
    color: white;
    list-style: none;
    margin: 1% auto;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
}
.info-view p{
    margin-left: 2%;
    vertical-align: top;
}
.info-text{
    /* margin-left: 2%;
    vertical-align: middle; */
}
.leader-imgs{
    text-align: center;
    margin: auto auto 4%;
}
.leader-imgs>div {
    display: inline-block;
    width: 20%;
    margin-right: 10%;
    color: white;
}
.leader-imgs>div:last-child {
    margin-right: initial;
}
.leader-imgs img{
    border-radius: 10px;
    width: 100%;
}
.leader-text{
    /* position: absolute; */
}
#general p {
    font-size: 24px;
}

/** Following Styles **/
.card-wrapper-1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:start;
    padding: 0px 9px;

}
.card-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
}
.card {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    margin: 20px 20px;
    transition: box-shadow 0.3s ease;
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.card:last-child{
    margin-right: initial;
}
.card>h3{
    display: flex;
    justify-content: space-around;
    font-family: Zekton;
    font-size: 25px;
}
.card p{
    padding-left: 5%;
    text-align: left;
    width: 90%;
    font-family: Zekton;
}
.list-wrapper{
	align-content: center;
    justify-content: center;
    max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 5%;
}

.list-col> a li{
    background-color: black;
    color: white;
    list-style: none;
    margin-right: 5%;
	margin-bottom: 10%;
    text-align: center;
	font-size: 30px;
    padding: 3%;
    border-radius: 10px;
	width: 90%;
    font-family: Zekton;
}

.card h3> a{
 padding-left: 20%;
 color:#676750;
}

.artist-name{
font-family: SpacePower;
}

section>h3{
font-family: Zekton;
}

h2{
font-family: SpacePower;
font-size: 25px;
}

em{
font-family: Zekton;
}

.artist-wrapper {
    width: 80%;
    margin: 5% auto 15%;
}
.artist-wrapper:last-child{
    margin-bottom: 5%;
}
.artist-info{
    margin-bottom: 3%;
}
.artist-img, .artist-info>div {
    display: inline-block;
}
.artist-info>div{
    width: 45%;
    margin-left: 4%;
    vertical-align: top;
}
.artist-img {
    width: 45%;
    border-radius: 20px;
}
.artist-painting{
    width: 25%;
    margin-right: 10%;
    border-radius: 10px;
}
.artist-painting:last-child{
    margin-right: 0px;
}
.artist-works{
    background-color: white;
    padding: 4%;
    border-radius: 15px;
    text-align: center;
}
.artist-works>h3{
    text-align: left;
    margin-top: 0px;
}


#AI-title {

padding: 3%;
font-family: "SpacePower";
font-size: 50px;

}
#AI-container{
position: relative;
	width: 100%;
	max-width: 100%;
}

img{
	width: 100%;
	object-fit: cover;
    background-position: center;
	transition: transform 0.5s ease-in;
}

#slides {

	width: 100%;
	position:relative;
	overflow: hidden;
}

#slider-container{
position: absolute;
height: 100%;
width:100px;
}

#slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
outline: none;
border-radius: 50px;
position: relative;

}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: black;
    position: relative;
}

#rec>.container{
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}
#rec h1 {
    margin-left: 10%;
}
#timeline .container, #connect .container {
    height: 100vh;
}
#timeline img {
    width: 30vh;
    display: inline-block;
}
#timeline p{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-left: 4%;
}

li.selected {
    text-align: center;
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
    h1{
        font-size: 24px;
    }
    .leader-text{
        width: 100%;
    }
    
    .leader-imgs>div {
        /* display: flex; */
        width: 75%;
        margin: 5% auto !important; 
    }
    .artist-wrapper{
        max-width: 500px;
        width: 100%;
    }
    .artist-img {
        width: 500px;
        height: auto;
    }

    .artist-works {
        flex-direction: column;
        align-items: center;
    }

    .artist-name {
        font-size: 36px;
    }

    .artist-text {
        font-size: 24px;
        max-width: 100%;
    }
    .artist-painting {
        width: 100% !important;
    }
}

/* Media Query for Tablet */
@media only screen and (max-width: 768px) {
    .splash-title{
        font-size: 6vw;
    }
    #timeline img {
        width: 20vh;
    }
    #timeline p{
        font-size: 1em !important;
    }
    #gallery{
        width: 100vmax;
        height: 100vmax;
    }
    main{
        contain: initial;
    }
    .navbar{
        display: initial;
    }
    #navbar{
        display: none;
        color: white;
    }
    #general p {
        font-size: 18px;
    }
    .info-view{
        margin-left: 0px;
    }
    .info-view p {
        width: 100%;
    }
    .info-text, .info-picker {
        width: 100%;
        align-content: center;
    }
    .info-picker{
        padding-left: 0;
    }
    .info-text{
        margin-left: 0;
    }
    .artist-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .artist-info>div{
        width: 100%;
    }
    .artist-img {
        max-width: 100%;
        height: auto;
    }
    .artist-works {
        text-align: center;

    }
    .artist-works img {
        width: 50%;
        margin: 10px auto;
    }
    .artist-name {
        font-size: 2.5em;
    }
    .artist-text {
        font-size: 1.5em;
    }
    .artist-works>h3{
        text-align: center;
    }

}



/** Tablet View **/

@media screen and (max-width:1024px){
    .card-wrapper{
        flex-direction: column;
    }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
    /* 100% {opacity: 1; } */
  }
  