body {
    background-color: #b7b74a;
    margin: 0;
}

header {
    background-color: #a5a58d;
    margin: 0;
}

#navbar ul {
    text-align: center;
    margin: 0;
    padding: .5% 0;
    list-style: none;
}
#navbar li {
    padding: 1%;
    margin: 0 1%;
    display: inline-block;
    color: white;
}

main {
    contain: content;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #a5a58d;
    color: white;
    text-align: center;
    width: 100%;
    height: 48px;
    margin-top: -20px;
}
footer>p{
    padding-top: 1%;
}

#splash-img {
    width: 100%;
}

.hide{
    display: none;
}
.show {
    display: initial;
}

.container {
    margin: auto 10%;
}

.info-text, .info-picker {
    width: 45%;
    display: inline-block;
    align-content: center;
}
.info-picker>li{
    background-color: black;
    color: white;
    list-style: none;
    margin: 1% auto;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
}
.info-text{
    margin-left: 4%;
    vertical-align: top;
}
.leader-imgs{
    text-align: center;
    margin: auto auto 4%;
}
.leader-imgs>img {
    display: inline-block;
    width: 20%;
    margin-right: 10%;
    border-radius: 10px;
}
.leader-imgs>img:last-child {
    margin-right: initial;
}
.card-wrapper{
    text-align: center;
}
.card {
    display: inline-block;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    margin-right: 4%;
    margin-bottom: 10%;
}
.card:last-child{
    margin-right: initial;
}
.card>h3{
    display: flex;
    justify-content: space-around;
}